@{
    var userType = Context.Session.GetString("UserType");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteka 770</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteka.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblioteka nr 770 w Łodzi</a>


                <nav>
                    <ul class="navbar-nav">

                        @if (userType == "Reader")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Loans" asp-action="Index">Moje wypożyczenia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Reservations" asp-action="Index">Moje rezerwacje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Wyloguj</a>
                            </li>
                        }
                        else if (userType == "Employee")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Books" asp-action="Index">Zarządzaj książkami</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Readers" asp-action="Index">Zarządzaj czytelnikami</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Reservations" asp-action="EmployeeIndex">Rezerwacje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Loans" asp-action="Index">Wypożyczenia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Wyloguj</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Biblioteka 770 Łódź - 2025 <a asp-area="" asp-controller="Home" asp-action="Informacje">Informacje</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
