@{
    ViewData["Title"] = "Info o rejestracji";
}

<h6>W celu rejestracji, odzyskania hasła, lub jego zmiany prosimy o osobiste stawienie się w naszej Bibliotece.</h6>
<h6>Do odzyskania i zmiany hasła wymagane jest okazanie dowodu osobistego.</h6>
<h6>Dzieci mogą być zarejestrowane tylko za zgodą rodzica.</h6>