@{
    ViewData["Title"] = "Początek";
}

<div class="text-center">
    <h2 class="display-4">System Biblioteki Miejskiej nr 770 w Łodzi</h2>
    <h4>Wybierz jedną z dostępnych opcji korzystając z paska na górze strony</h4>
</div>
